* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

h1{
  color:#fff;
}

body {
  background-color: #000;
}

a {
  color: #fff;
}

p{
  color:#fff;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.hanabi {
  box-shadow: 0 0 5px #aaa;
}

.hanabi h1 {
  font-weight: normal;
  text-align: center;
  font-size: 1.2rem;
  padding: 5px;
}

.hanabi p {
  padding: 10px;
}

.hanabi img {
  width: 100%;
}